div.well

	div.payouts

		h4!= payout_header

		p This faucet gives free HTMLCoin to testnet users. You can make requests every 10 minutes.
		p A random amount between 15 and 1500 HTML will be transferred to your wallet.

		
		
			if show_next_run
				p.next-run= 'Next payout: '+next_run

			if show_wallet_balance
				p.wallet-balance= 'Our Wallet Balance: '+wallet_balance

			