div.well

	div.payouts

		h4!= payout_header

		p This faucet give free HTMLCOIN to testnet users, you can request free Testnet HTML every 12 hours!
		p Minimal Chance: 15 HTML
		p Maximum Chance: 1500 HTML
		p <strong> Random values will be given.</strong>
		
		
		p.interval= 'Payouts every 12 hours'

			if show_next_run
				p.next-run= 'Next payout: '+next_run

			if show_wallet_balance
				p.wallet-balance= 'Our Wallet Balance: '+wallet_balance

			