if isAdmin
	li
		a(href=config.dashboard.path) Dashboard
li
	a(href='https://testnet.htmlcoin.com') Testnet Explorer
li
	a(href='https://htmlcoin.com') Official Website

li
	a(href='https://althash.org') AltHash Web Plataform