extends layout

block content
 div.page-header
  h1 Welcome to Htmlcoin Faucet!
  p
   lead We provide htmlcoin from  #{net_name} for testing purposes.
 h3 Wallet Balance:&nbsp
  = balance
 if message
  p.bg-success.greybox= message
 else
  p Enter your TestNet wallet address and click 'Get Html' to get some htmlcoin
 div.jumbotron
  form(method="POST", action="/")
   input(type="hidden", name="_method", value="POST")
   p.lead Wallet Address&nbsp
    input.form-control(type="text", name="wallet_address", pattern="h{34}")
   p.lead Amount&nbsp
    input.form-control(type="number", step="any", name="pour_amount", max="5000", min="1")
    h6 (You can withdraw up to 5000 HTML per request)
   p
    button.btn.btn-large.btn-success(type="submit") Get Html
   p
 hr
 p To give back to the faucet, please send your coins to the following address
 //img(src='/images/qr-code.png')
 p hTU9QfKB6LRHxU7rSRdzc5gmFW5VYuEoBQ
 hr
 .footer
  p Htmlcoin Foundation 2018
  script(src="/javascripts/lib/bootstrap/bootstrap.min.js ")
